{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kassensystem</title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "signin.css" %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}" />
        <h2 class="form-signin-heading">{% trans "Please sign in" %}</h2>
        <input type="text" name="username" class="form-control" placeholder="{% trans "Username" %}" autofocus>
        <input type="password" name="password" class="form-control" placeholder="{% trans "Password" %}">
        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans "Sign in" %}</button>
      </form>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
